# Papers used for references
references/

# Problem instance data
instances/

# Solutions to instances
solutions/

# CPLEX project files
.settings
.oplproject
.project

# Helpful resources from Moodle
guide/

# Typst output
*.pdf

# Cargo compilation output
target/

# Visualiser output
visuals/
